* {
    margin: 0;
    font-family: 'Nonito',sans-serif;
}

h2 {
    color: rgb(221, 221, 221);
    font-size: 2.8vw;
}

h5{
    text-align:center;
    font-size: 2.2vw;
    color: rgb(124, 126, 126);
}
h3{
    font-size: 2vw;
    color: rgb(221, 221, 221);
}

html {
    width: 100%;
    height: 0 auto;
}

body {
    background-color: rgb(10, 7, 7);
    margin: 0;
}

.home {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: rgb(26, 17, 17);
    z-index: -1;
}
.home h1 {
    position: absolute;
    width: 50vw;
    text-align: center;
    font-size: 4vw;
    color: rgb(221, 224, 224);
    top:50%;
    left: 50%;
    transform: translate(-90%, -100%);
}
.home h5 {
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-88%, 40%);
}
.home h3{
    position: absolute;
    display: block;
    width: 20vw;
    height: 5vw;
    top: 50%;
    left: 50%;
    transform: translate(-70%, 310%);
}
.home button{
    position: absolute;
    display: block;
    width: 20vw;
    height: 5vw;
    font-family: "Nonito", sans-serif;
    font-size: 2vw;
    border: none;
    background-color: rgb(255, 166, 0);
    border-radius: 2vw;
    top:50%;
    left:50%;
    transform: translate(-203%, 280%);
}
.image-home img{
    position: absolute;
    display: block;
    width: 35vw;
    height: auto;
    border-radius: 3vw;
    top: 50%;
    left: 50%;
    transform:translate(30%, -47%);
}

.info{
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    z-index: -1;
}

.info h2{
    position: absolute;
    display:block;
    top: 10%;
    left: 50%;
    transform: translate(25%, 220%);
}
.info h5{
    position: absolute;
    display: block;
    color: rgb(221, 221, 221);
    padding-top: 0.5vw;
    font-size: 1.7vw;
    line-height: 2vw;
    top: 50%;
    left: 50%;
    transform: translate(-17%, -50%);
}

.info-image{
    position: absolute;
    display: block;
    width: 30vw;
    height: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
}
.info-image div{
    position: absolute;
    display: block;
    width: 30vw;
    height: 30vw;
    background-color: rgb(251, 255, 0);
    border-radius: 50%;
    filter: blur(40px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info img{
    position: absolute;
    display: block;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skils{
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    z-index: -1;
}
.skils h2{
    position: absolute;
    display: block;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.skils ul{
    position: absolute;
    display: block;
    width: 94vw;
    columns: 3;
    color: rgb(221, 221, 221);
    font-size: 2vw;
    font-family: 'Nonito';
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    list-style-image: url(src/check.png);
    
}

.skils li{
    padding-bottom: 3vw;
    padding-right: 5vw ;
    height: 10vw;
}

.catalog{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.catalog h2{
    position: absolute;
    display: block;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.catalog h5 {
    position: absolute;
    display: block;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.all-modul{
    position: absolute;
    display: block;
    width: 80vw;
    height: 70vw;
    /* background-color: rgba(240, 248, 255, 0.103); */
    top:50%;
    left: 50%;
    transform: translate(-50%, -40%);

}
#modul {
    position: absolute;
    display: block;
    background-color: rgb(24, 19, 19);
    border-radius: 8px;
    border-style:double;
    border-color: rgb(251, 255, 0);
    width: 35vw;
    height: 25vw;
    top: 50%;
    left: 50%;
    

}
.blur{
    position: absolute;
    display: block;
    width: 50vw;
    height: 50vw;
    background-color: rgba(208, 255, 0, 0.596);
    border-radius: 50%;
    filter: blur(150px); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.all-modul h3{
    position: absolute;
    display: block;
    width: 30vw;
    text-align: center;
    font-size: 1.9vw;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.all-modul h5{
    position: absolute;
    display: block;
    width: 30vw;
    text-align: center;
    font-size: 1.9vw;
    color: rgb(189, 186, 186);
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.modul-1{
    transform: translate(-102%, -120%);
}
.modul-2{
    transform: translate(1%, -120%);}

.modul-3{
    transform: translate(-102%, -15.5%);
}

.modul-4{
    transform: translate(1%, -15.5%);
}

.price {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

#price-tarif{
    position: absolute;
    width: 30%;
    height: 0;
    padding-bottom: 70%;
    border-radius: 15px;
    background-color: rgb(255, 218, 218);
    top: 50%;
    left: 48.5%;
}
#price-tarif h2{
    color: rgba(10, 7, 7, 0.856);
}
.price h2{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.eco{
    transform: translate(-150%,-55%);
}
.standart{
    transform: translate(-45%, -55%);
}
.vip {
    transform: translate(60%, -55%);
}
#price-tarif ul{
    position: absolute;
    display: block;
    font-size: 2vw;
    font-family: 'Nonito', sans-serif;
    color: rgba(10, 7, 7, 0.822);
    list-style-image: url(src/check.png);
    top: 10%;
}
#price-tarif li{
    padding-bottom: 1.5vw;
}
#price-tarif button{
    width: 20vw;
    height: 5vw;
    position: absolute;
    display: block;
    border: none;
    border-radius: 6px;
    font-size: 2vw;
    font-family: 'Nonito', sans-serif;
    color: rgb(10, 7, 7);
    background-color: rgb(51, 255, 0);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
#price-tarif h1{
    position: absolute;
    display: block;
    color: rgb(10, 7, 7);
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price p{
    position: absolute;
    display: block;
    font-family: 'Nonito', sans-serif;
    color: rgba(0, 255, 255, 0.384);
    text-align: center;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
}

.menu{
    position: fixed;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    height: 0;
    padding-bottom: 3%;
    background-color: rgb(24, 2, 2);
    z-index: 1;
}
.menu button{
    border: none;
    background-color:rgba(255, 255, 255, 0);
    color: rgb(204, 204, 204);
    font-size: 2vw;
}
